<div class="searchbar">
    <div class="containeer">
   <form action="/search" class="search__form"  role="search" method="post" >
    <input type="search" aria-label="search" id="searchInput" name="searchterm" placeholder="search the site">
   </form>
    </div>
</div>


